<div class="active side ui segment">
  <h2 class="ui dividing header">
    {{doc.title}} ?
  </h2>

  <div class="ui grid">
    <div class="row">
      <div class="one wide column">
        <div class="active side">
        <div class="ui selection list questionvotes">
          <form name="qForm">
            <button ng-click="voteUp(doc.uid)"
              ng-show="doc.uid" class="ui green tiny button" title="Vote up"><i class="thumbs up icon"></i></button>
            <button ng-click="voteDown(doc.uid)"
              ng-show="doc.uid" class="ui black tiny button" title="Vote Down"><i class="thumbs down icon"></i></button>
            <button ng-click="destroy()" ng-show="doc.uid" class="ui red tiny button" title="Delete"><i class="delete icon"></i></button>
          </form>
        </div>
        </div>
      </div>
      <div class="fifteen wide column">
        <div class="content">
          <div class="name description">{{doc.title}}</div>
          <p class="description">{{doc.description}}</p>
          <div class="ui label">
            <i class="folder icon"></i>
            {{doc.properties["qs:community"]}}
          </div>
          </p>
          <p class="description">{{docVoteStatus}}</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui dividing header">Available Answers</h3>
    <div ng-repeat="a in answers track by $index">

    <div class="ui grid">
      <div class="row">
        <div class="one wide column">
          <div class="active side">
          <div class="ui selection list questionvotes">
            <form name="aForm">
              <button ng-click="voteUp(a.value.id)"
                ng-show="a.value.id" class="ui green tiny button" title="Vote up"><i class="thumbs up icon"></i></button>
              <button ng-click="voteDown(a.value.id)"
                ng-show="a.value.id" class="ui black tiny button" title="Vote Down"><i class="thumbs down icon"></i></button>
              <button ng-click="destroyAnswer(a.value.id)"
                ng-show="a.value.id" class="ui red tiny button" title="Delete"><i class="delete icon"></i></button>
            </form>
          </div>
          </div>
        </div>
        <div class="fifteen wide column">
          <div class="content">
            <div class="description">{{a.value.description}}</div>
            <p class="ui black circular label lastmodif">{{a.value.modified | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p class="ui purple label creator">{{a.value.creator}}</p>
            <p  class="ui green circular label votes">0<i class="thumbs up icon"></i></p>
          </div>
        </div>
      </div>
    </div>

    </div>

  <h3 class="ui dividing header">Answer this question</h3>
    <form name="addAnswerForm">
      <div class="ui control-group" ng-class="{error: addAnswerForm.site.$invalid}">
      <div class="ui form">
        <div class="field">
          <textarea name="description" ng-model="answerDoc.properties['dc:description']" required></textarea>
        </div>
      </div>
      <span ng-show="addAnswerForm.site.$error.required" class="help-inline">Required</span>
      </div>
      <button ng-click="addAnswer()" ng-disabled="isClean() || addAnswerForm.$invalid" class="btn btn-primary">Publish</button>
    <div class="ui inverted dimmer"  ng-class="{active:wait}">
      <div class="ui loader"></div>
    </div>
  </form>
</div>
