<h2 class="ui dividing header">Questions</h2>

<div ng-model="nxsearch.query" class="ui divid  ed list" infinite-scroll="nxsearch.nextPage()" infinite-scroll-disabled="nxsearch.busy" infinite-scroll-distance="1">
  <div class="item" ng-repeat="item in nxsearch.items">
    <div class="sides">
      <a href="#/question/{{item.value.id}}/view" class="question">
        <div class="active side ui segment">
          <div class="content">
            <h4 class="title">{{item.value.title}}</h4>
            <p class="description">{{item.value.description}}</p>
            <div ng-repeat="com in item.value.communities" class="ui label">
              <i class="folder icon"></i>
              {{com}}
            </div>
            <p class="ui black circular label lastmodif">{{item.value.modified | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p class="ui purple label creator">{{item.value.creator}}</p>
            <p class="ui green circular label votes">{{item.value.votes}}<i class="thumbs up icon"></i></p>
            <p class="answers">{{item.value.answers}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>