<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nuxeo Answers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="styles/main.css">
    
    <!-- build:css styles/components.css -->
    <link rel="stylesheet" href="components/semantic-ui/build/packaged/css/semantic.css">
    <!-- endbuild -->
  </head>
  <body ng-app="nuxeoAngularSampleApp" class="Grid">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

<div class="main container">

<div ng-controller="HeaderCtrl" class="ui menu">
  <a href="#/questions/" ng-class="{active:isActive('latest')}" class="item">
    <i class="reorder icon"></i> Latest
  </a>
  <a href="#/questions/unanswered" ng-class="{active:isActive('unanswered')}" class="item">
    <i class="question icon"></i> Unanswered
  </a>
  <a href="#/questions/answered" ng-class="{active:isActive('answered')}" class="item">
    <i class="checkmark icon"></i> Answered
  </a>
  <a href="#/questions/archived" ng-class="{active:isActive('archived')}" class="item">
    <i class="archive icon"></i> Archived
  </a>
  <form ng-class="{error: myForm.site.$invalid}" class="item input" name="myFprm">
    <div class="ui icon input">
    <input ng-model="tagToSearch" type="text" placeholder="I'm looking for …" />
    <i class="ui search icon"></i>
    <button ng-click="doSearch()" class="ui submit button hide">Search</button>
    </div>
    <span ng-show="myForm.site.$error.required" class="help-inline">
      Required</span>
  </form>
  <div class="right menu">
    <a href="#/question/ask" class="large ui blue submit button">
      Ask a Question
    </a>
  </div>
</div>

  <div ng-view></div>
</div>  
  <footer class="container">
  &copy; Nuxeo 2013
  </footer>

    <!-- build:js scripts/components.js -->
    <script src="components/jquery/jquery.js"></script>   
    <script src="components/angular-1.1.x/angular.js"></script>
    <script src="components/angular-1.1.x/angular-resource.js"></script>
    <script src="components/angular-1.1.x/angular-cookies.js"></script>
    <script src="components/angular-1.1.x/angular-sanitize.js"></script>
    <script src="components/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/scripts.js -->    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/nxSearch.js"></script>
    <script src="scripts/services/nxHeader.js"></script>
    <script src="scripts/services/nxSession.js"></script>
    <!-- endbuild -->

  </body>
</html>
